<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Index</title>
</head>
<body>
    <th:block layout:fragment="content">
        <button class="btn btn-success">click</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>1</th>
                    <th>1</th>
                    <th>1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </th:block>
</body>
</html>